.compte {
    max-height: fit-content;
    min-width: 70%;
    padding: 3em;
    margin: 2em auto;
    background-color: var(--couleur_carte);
    border-radius: 30px;
    box-shadow: 0px 3px 10px -2px rgba(0, 0, 0, 0.2);
}
.compte > div {
    width: 40%;
}
.compte form {
    justify-content: space-between;
    min-height: fit-content;
    gap: 0;
}
.compte_profil {
    gap: 30px;
    min-width: 100%;
    border-right: 1px solid #ddd;
}
.compte h4 {
    margin: 0;
}

.compte summary {
    display: flex;
    gap: 10px;
    align-items: center;
    cursor: pointer;
    padding: 20px 0;
    margin-bottom: 10px;
    border-bottom: 1px solid #ddd;
    transition: 0.7s all ease;
}
.compte summary svg {
    color: var(--couleur_call_to_action);
    transition: 0.25s transform ease;
}

.compte details[open] > summary svg {
    color: var(--couleur_call_to_action);
    transform: rotate(90deg);
}

.compte details[open] > summary {
    transition: 0.5s all ease;
}

.compte_photo {
    height: 100px;
    width: 100px;
    border-radius: 100%;
    border: 5px solid var(--couleur_call_to_action);
    padding: 30px;
    margin: 0 auto;
}

.compte_photo svg {
    height: 50px;
    width: 50px;
}

.compte_menu {
    justify-content: flex-start;
}

.compte_menu div {
    padding: 20px;
    border-bottom: 1px solid #ddd;
}

.compte_menu a {
    width: 100%;
    gap: 10px;
    padding-left: 10px;
}

.compte_menu .compte_menu_actif {
    background-color: var(--couleur_dynamic_island);
}

.compte .info_pour_admin {
    margin-left: 26px;
}

.compte .info_pour_admin > * {
    margin-bottom: 10px;
}
