.footer_page {
    padding: 30px;
    color: #f5f5f5;
    background-color: var(--couleur_call_to_action);
    gap: 50px;
}

.logo_footer img {
    max-height: 200px;
}
.info_lettre h1 {
    font-size: clamp(1.5rem, 2.5vw, 2rem);
}

.aide_generale > *,
.info_lettre_media_sociaux > * {
    gap: 20px;
}

.liste a {
    color: whitesmoke;
}

.info_lettre_form {
    background-color: var(--couleur_carte);
    border-radius: 30px;
    padding: 10px 30px;
    max-width: 400px;
}

.info_lettre_form > * {
    border-radius: 30px;
    padding: 10px 20px;
    border: none;
}
.info_lettre_form input[type="text"] {
    background-color: var(--couleur_carte);
    flex-grow: 1;
    min-height: 100%;
}

.footer_info .hover_underligne::after {
    background: var(--couleur_carte);
}

.footer_page p {
    text-align: center;
}

@media screen and (max-width: 1110px) {
    .logo_footer img {
        max-height: 150px;
    }
}
