.formulaire_inscription {
    max-width: 38em;
    min-height: 50vh;
    padding: 3em;
    margin: 2em auto;
    background-color: whitesmoke;
    border-radius: 30px;
    box-shadow: 0px 3px 10px -2px rgba(0, 0, 0, 0.2);
}

form {
    gap: 30px;
}

form h4 {
    font-size: clamp(0.2rem, 5vw, 1rem);
    font-weight: normal;
    margin: 15px 0px 0px 0px;
}

form input {
    width: 100%;
    padding: 1em;
    padding-left: 1em;
    line-height: 1.4;
    background-color: var(--couleur_fond);
    border: none;
    border-radius: 30px;
}

form .info_perso,
form .info_connexion,
form .info_date_naissance,
form .date_naissance {
    gap: 10px;
}

form .call_to_action {
    font-size: 1.1rem;
    width: 100%;
    margin: 30px 0px 0px 0px;
}

form .info_perso div,
form .info_connexion div,
form .date_naissance div {
    border-radius: 30px;
    gap: 5px;
}

form svg {
    color: #d6d6d6;
}

/* Section modification du style pour la page de connexion au compte */
.formulaire_connexion {
    max-width: 38em;
    min-height: 30vh;
    padding: 3em;
    margin: 2em auto;
    background-color: white;
    border-radius: 30px;
    box-shadow: 0px 3px 10px -2px rgba(0, 0, 0, 0.2);
}

.formulaire_connexion .info_connexion {
    gap: 30px;
}

.formulaire_connexion a {
    font-size: 0.8rem;
    text-decoration: underline;
    color: #737373;
}
