:root {
    --couleur_call_to_action: #293a67;
    --couleur_carte: #ebebeb;
    --couleur_dynamic_island: #dadada;
    --couleur_fond: #f8f8f8;
}
/* variation des couleurs 
https://coolors.co/ebebeb
 */
